%h2.pickup-head
  ピックアップカテゴリー
  %h3.products__pickup__container
    = link_to "" ,class: "products__pickup__container__category" do
      = "レディース 新着アイテム"
      %session.product-boxs.clearfix
    %li.product-box
      = link_to "" do
        %figure.product-box__figure
          / 商品の一枚目の写真を表示
          %image{src: "https://www.zeirisi.co.jp/wp-content/uploads/2018/02/noimage-300x300.jpg", alt: "",class: "product-box__image"}
        .product-box__body
          .product-box__text
            .product-box__name
              sample
          .product-box__num
            .product-box__num__price
              100
              .nice
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span
                  1
            %p.product-box__num__price-tax
              (税込)
    %li.product-box
      = link_to "" do
        %figure.product-box__figure
          / 商品の一枚目の写真を表示
          %image{src: "https://www.zeirisi.co.jp/wp-content/uploads/2018/02/noimage-300x300.jpg", alt: "",class: "product-box__image"}
        .product-box__body
          .product-box__text
            .product-box__name
              sample
          .product-box__num
            .product-box__num__price
              100
              .nice
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span
                  1
            %p.product-box__num__price-tax
              (税込)
    %li.product-box
      = link_to "" do
        %figure.product-box__figure
          / 商品の一枚目の写真を表示
          %image{src: "https://www.zeirisi.co.jp/wp-content/uploads/2018/02/noimage-300x300.jpg", alt: "",class: "product-box__image"}
        .product-box__body
          .product-box__text
            .product-box__name
              sample
          .product-box__num
            .product-box__num__price
              100
              .nice
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span
                  1
            %p.product-box__num__price-tax
              (税込)
    %li.product-box
      = link_to "" do
        %figure.product-box__figure
          / 商品の一枚目の写真を表示
          %image{src: "https://www.zeirisi.co.jp/wp-content/uploads/2018/02/noimage-300x300.jpg", alt: "",class: "product-box__image"}
        .product-box__body
          .product-box__text
            .product-box__name
              sample
          .product-box__num
            .product-box__num__price
              100
              .nice
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span
                  1
            %p.product-box__num__price-tax
              (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
  %h3.products__pickup__container
    = link_to "" ,class: "products__pickup__container__category" do
      = "メンズ 新着アイテム"
      %session.product-boxs.clearfix
    %li.product-box
      = link_to "" do
        %figure.product-box__figure
          / 商品の一枚目の写真を表示
          %image{src: "https://www.zeirisi.co.jp/wp-content/uploads/2018/02/noimage-300x300.jpg", alt: "",class: "product-box__image"}
        .product-box__body
          .product-box__text
            .product-box__name
              sample
          .product-box__num
            .product-box__num__price
              100
              .nice
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span
                  1
            %p.product-box__num__price-tax
              (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
  = render 'shared/product-box-container'